.index-block[class*="index-block--padding-top-"] > div {
  padding-top: 40px;
}
.index-block[class*="index-block--padding-bottom-"] > div {
  padding-bottom: 40px;
}
.index-block.index-block--padding-top-N > div {
  padding-top: 0px;
}
.index-block.index-block--padding-bottom-N > div {
  padding-bottom: 0px;
}
.index-block__title {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.index-block__link-wrapper {
  display: flex;
  align-items: center;
}
.index-block__title-wrapper--with-center-block .tab-nav-wrapper {
  margin: 10px 0px 0px;
}
.index-block__link {
  height: 28px;
  font-size: 0px;
  line-height: 28px;
  margin-left: 13px;
  background-color: rgba(136, 136, 136, 0.1);
  padding: 0px 7px 0px 8px;
  border-radius: 8px;
  border-radius: var(--border-radius);
}
.index-block__arrow {
  font-size: 0;
  vertical-align: middle;
  line-height: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 3px;
}
.index-block__arrow svg * {
  stroke: #333;
  stroke: var(--white_text_black);
}
.index-block__title-wrapper.index-block__title-wrapper--mb-35 {
  margin-bottom: 16px;
}
.index-block--fon {
  background: #f8f8f8;
  background: var(--darkerblack_bg_black);
}
.index-block--delimiter > div {
  border-bottom: 1px solid #e5e5e5;
  border-bottom: 1px solid var(--stroke_black);
}
