.layout .personal_wrapper {
  float: none;
}
.layout .sale-personal-section-row-flex {
  margin: 0px -15px;
}
.layout .sale-personal-section-index-block {
  margin-bottom: 0px;
}

/*private*/
.layout .personal_wrapper .sale-personal-account-wallet-container .sale-personal-account-wallet-title,
.layout .personal_wrapper .sale-personal-section-account-sub-header,
.layout .personal_wrapper .bx-sap {
  padding: 0 24px 0 24px;
}
.layout .personal_wrapper .sale-personal-account-wallet-container .sale-personal-account-wallet-list-item {
  margin: 0 24px 0 24px;
}

/*personal*/
.layout .lk-page .iblock.label_block {
  width: 100%;
}
.layout .authorization-block.top-form,
.layout .confirmation-block.top-form,
.layout .form .bottom-form,
.layout .status-block.top-form,
.layout .top-form.bordered_block {
  padding: 24px;
}
