/*
.bx-ie .faq-items.flex-grow-1 {
  flex-basis: 0px;
}
*/

/* in detail */
.detail-block .faq-list .accordion-head {
  padding: 24px 86px 16px 31px;
}

.detail-block .faq-list .accordion-head .svg-inline-right-arrow {
  right: 28px;
  top: 28px;
}
.detail-block .faq-list .accordion-preview {
  margin-top: 9px;
  margin-bottom: 19px;
}
.detail-block .faq-list .accordion-line {
  top: 31px;
  height: 11px;
}

.faq-items .accordion {
  background-color: var(--black_bg_black);
}

@media screen and (max-width: 767px) {
  .accordion--column-left .item-accordion-wrapper:last-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .accordion--column-right .item-accordion-wrapper:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media (max-width: 600px) {
  .detail-block .faq-list .accordion-head {
    padding: 22px 86px 16px 20px;
  }
  .detail-block .panel-collapse .accordion-body {
    padding: 0px 20px 0px 20px;
  }
  .detail-block .faq-list .accordion-preview,
  .detail-block .faq-list .accordion-preview > p:last-of-type {
    margin-bottom: 0px;
  }
}
