.comments-block__inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.blog-comment-form .form-group {
  position: relative;
}

/** blog-comment **/
.blog-comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/** rating **/
.votes_block.nstar .inner_rating {
  display: flex;
  gap: 1px;
}

/** blog form **/
.blog-comment__form-container .blog-comment__form {
  margin-top: 36px;
}
.blog-comment__form .votes_block {
  display: flex;
  gap: 12px;
}
