/* display popup when ajax css loaded */
.stores_frame.popup.show {
	display: block !important;
}

.stores_frame .form.popup .form-body {
	padding-bottom: 40px;
}
.stores_frame .form.popup .form-header {
	padding-bottom: 30px;
}
.stores-list {
	display: flex;
	flex-direction: row;
	margin: 0 -12px;
}
.stores-list:not(.stores-list--general) {
	height: min(480px, calc(100vh - 96px - 40px));
}
.stores-list__details__wrapper {
	display: none;
}
.stores-list__items__wrapper,
.stores-list__details__wrapper,
.stores-list__map__wrapper {
	padding: 0 12px;
	flex: 1;
}
.stores-list__items,
.stores-list__details,
.stores-list__map {
	border-radius: 12px;
	border-radius: var(--theme-outer-border-radius);
	overflow:hidden;
	height: 100%;
	position: relative;
}
.stores-list__items__inner,
.stores-list__details__inner,
.stores-list__map__inner,
.stores-list__map .bx-yandex-map,
.stores-list__map .bx-map-view-layout,
.stores-list__map .bx-yandex-view-map {
	height: 100%;
}
.stores-list__items,
.stores-list__details {
	padding-right: 2px;
	width: 555px;
	max-width: calc(100vw - 64px);
}
.stores-list__map {
	width: 555px;
	max-width: calc(100vw - 64px);
}
@media (min-width: 601px){
	.has_map .stores-list__items,
	.has_map .stores-list__details,
	.has_map .stores-list__map {
		max-width: calc(50vw - 64px);
	}
}
@media (max-width: 600px){
	.stores_frame .form.popup .form-body {
		padding-bottom: 20px;
	}
	.stores-list__items,
	.stores-list__details,
	.stores-list__map {
		max-width: calc(100vw - 40px);
	}
	.stores-list {
		flex-direction: column;
		height: calc(100vh - 96px - 20px);
		max-height: initial;
	}
	.stores-list__items__wrapper,
	.stores-list__details__wrapper {
		max-height: 100%;
	}
	.has_map .stores-list__items__wrapper,
	.has_map .stores-list__details__wrapper {
		order: 1;
		max-height: calc(50% - 12px);
	}
	.stores-list__map__wrapper {
		order: 0;
		max-height: calc(50% - 12px);
		margin-bottom: 24px;
	}
}
@media (max-width: 530px) {
	.bx-yandex-view-map .bx-yandex-map, .bx-google-map {
		height: 100% !important;
	}
}
@media (max-width: 430px) {
	.stores-list:not(.stores-list--general) {
		height: calc(100vh - 96px - 40px);
	}
}


.stores-list__item {
	padding: 21px 20px;
	cursor: pointer;
}
.stores-list__item + .stores-list__item {
	border-top: 1px solid #ededed;
	border-top-color: var(--stroke_black);
	padding-top: 22px;
}
.stores-list__item-email,
.stores-list__item-phone,
.stores-list__item-metro,
.stores-list__item-schedule {
	background-color: #F8F8F8;
	background-color: var(--darkerblack_bg_black);
	padding: 3px 8px;
	--border-radius: 6px;
}
.stores-list__item__line:first-child + * {
	margin-top: 10px;
}
.stores-list__item-title {
	display: inline-block;
}
.stores-list__item-metro {
	display: inline-flex;
	align-items: center;
}
.stores-list__item-metro i {
	margin: 0 8px 0 0;
}
@media (max-width: 425px) {
	.stores-list__item__line:first-child {
		flex-direction: column;
	}
}


.stores-list__detail {
	height: 100%;
	position: relative;
}
.stores-list__detail:not(.current) {
	display: none;
}
.stores-list__detail__inner {
	padding: 30px 31px 30px 31px;
}
.stores-list__detail-close {
	width: 46px;
	height: 46px;
	position: absolute;
	top: 3px;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	cursor: pointer;
}
.stores-list__detail-title {
	line-height: calc(1em + 3px);
	margin: 0 0 4px 0;
}
.stores-list__detail .status-icon + * {
	margin-top: 14px;
}
body .stores-list__detail-subtitle {
	margin: 11px 0 3px 0;
	line-height: calc(1em + 4px);
}
.stores-list__detail-buttons {
	margin: 22px 0 0 0;
}
