.mobile-scrolled {
  --gap: 0;

  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding-bottom: 15px !important;
  margin-bottom: -15px !important;
  /* padding-top: 15px !important; */
  /* margin-top: -15px !important; */

  gap: var(--gap);
}
#main .mobile-scrolled:not(.grid-list--no-gap) {
  --gap: 8px;
}
#main .mobile-scrolled > div {
  width: 320px;
  flex-shrink: 0;
  box-sizing: content-box;
  order: unset;
}
#main .mobile-scrolled--items-2 > div {
  width: 260px;
}
#main .mobile-scrolled--items-3 > div {
  width: 164px;
}
#main .mobile-scrolled.mobile-scrolled--items-auto > div {
  width: auto;
  padding: 0px;
}
#main .mobile-scrolled.mobile-scrolled--small-offset {
  gap: calc(var(--theme-page-width-padding) / 2);
}
#main .mobile-offset {
  margin: 0 calc(-1 * var(--theme-page-width-padding));
  padding: 0 var(--theme-page-width-padding);
  flex-wrap: nowrap;
  min-width: auto;
}
#main .mobile-offset--right {
  padding: 0 var(--theme-page-width-padding);
}

.grid-list--fill-bg > .grid-list__item > div {
  background: #fff;
  background: var(--card_bg_black);
}
.line-block--8.mobile-scrolled {
  --gap: 8px;
}

/*tabs*/
.tabs .nav-tabs.mobile-scrolled li {
  margin-right: 18px;
}
.arrow_scroll {
  overflow: visible;
}
.arrow_scroll .mobile-scrolled {
  padding-bottom: 2px !important;
  margin-bottom: -2px !important;
}
