.bottom_nav {
  --darkgrey_bg: var(--light, #f4f4f4) var(--dark, #2b2b2b);
  margin: 0px;
  text-align: center;
}
.bottom_nav > div {
  margin-top: 24px;
}
.ajax_load_btn {
  max-width: 744px;
  margin-left: auto;
  margin-right: auto;
}
#main .bottom_nav.mobile_slider {
  width: auto;
}
.bottom_nav.mobile_slider .ajax_load_btn {
  padding: 0 !important;
  height: 100%;
  display: block;
  margin: 0px;
  border: none;
  width: calc(99px + 16px);
  background-color: var(--darkgrey_bg_black);
  border-radius: 8px;
  border-radius: var(--border-radius);
}
.bottom_nav.mobile_slider .more_text_ajax {
  height: 100%;
  margin: 0 0 0 1px;
  white-space: normal;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background: 0 0;
  line-height: calc(1em + 2px);
  border: none;
  font-size: 0.875rem;
}
.bottom_nav.mobile_slider .more_text_ajax:hover {
  color: var(--fill_dark_lite_white_hover);
}
.more_text_ajax {
  display: flex;
}
.more_text_ajax.btn:not(:hover) {
  background-color: var(--darkgrey_bg);
  color: var(--white_text_black);
}
.bottom_nav.mobile_slider .module-pagination {
  display: none;
}
.bottom_nav.mobile_slider .svg {
  top: calc(50% - 27px);
  left: calc(50% - 10px);
  width: auto;
  height: auto;
}
.bottom_nav.mobile_slider .svg svg {
  width: 18px;
  height: 18px;
}

.module-pagination__wrapper {
  position: relative;
  display: inline-block;
}
.module-pagination .module-pagination__item {
  display: inline-block;
  width: 46px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  color: #333;
  color: var(--white_text_black);
  border-radius: var(--border-radius);
}
.module-pagination__item--all {
  width: auto;
  margin: 0px 10px;
}
.cur.module-pagination__item {
  background-color: var(--theme-base-color);
  color: #fff;
}
.module-pagination__item:not(.cur):hover {
  background-color: var(--darkgrey_bg);
}
.module-pagination__item.point_sep {
  --darkgrey_bg: transparent;
}

.arrows-pagination__item {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrows-pagination__item:hover {
  background-color: var(--darkgrey_bg);
}
.arrows-pagination__prev {
  left: -51px;
}
.arrows-pagination__next {
  right: -51px;
}
.arrows-pagination__item .svg {
  display: block;
}

.bottom_nav.hidden-nav {
  display: none;
}