.svg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}
.bx-firefox svg,
.bx-ie svg {
  transform: translateZ(0);
}
.svg svg {
  display: block;
}
.muted-use use {
  opacity: 0.35;
}
.muted-use-no-hover:not(:hover) use {
  opacity: 0.35;
}
