body .catalog-block__info-bottom .js-btn-state-wrapper {
  flex: 1;
}
body .catalog-block__info-bottom > .line-block {
  justify-content: center;
}
.item-action--subscribe {
  display: block;
}
.item-action--subscribe .btn {
  width: 100%;
}
