.header-container {
  position: relative;
  z-index: 993;
}

#mobileheader {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 993;
}
#mobileheader.filter-none {
  z-index: 998;
}

.mobileheader {
  height: 62px;
  padding: 0 27px 0 20px;
}
.mobileheader__inner {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -16px;
}
.mobileheader--color-white {
  background-color: #fff;
  background-color: var(--darkerblack_bg_black);

  box-shadow: 0px 1px 0px #e5e5e5;
  box-shadow: 0px 1px 0px var(--stroke_black);
}

/*logo*/
.logo {
  max-width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
}
.logo img,
.logo svg {
  max-height: 100%;
  max-width: 100%;
}
.logo a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* fixed */
body.mfixed_y .header-container {
  position: sticky;
  top: 0;
}
body.mfixed_y.mfixed_view_scroll_top .header-container {
  top: -63px;
  transition: top 0.3s ease;
}
body.mfixed_y.mfixed_view_scroll_top .header-container.fixed {
  top: 0;
}

/* item */
.mobileheader__item {
  margin: 0 16px;
}

/* icon */
#main .mobileheader--color-dark .menu-light-icon-fill svg *,
#main .mobileheader--color-colored .menu-light-icon-fill svg * {
  fill: #fff;
}
#main .mobileheader--color-dark .fill-theme-hover:hover svg *,
#main .mobileheader--color-colored .fill-theme-hover:hover svg * {
  opacity: 0.5;
}
#main .header-cabinet__fill-white-link svg .fill-more-theme {
  fill: #fff !important;
}
.header-container .header__icon {
  height: 20px;
  display: flex;
  align-items: end;
}

/* burger */
.mobileheader__item--right-icons .burger {
  margin-right: -27px;
}
.mobileheader .burger {
  align-items: center;
  display: flex;
  padding: 10px;
  margin: -10px;
}

/* logo */
.mobileheader .logo {
  max-width: 160px;
}
.mobileheader .line-block__item:not(.hidden) + .logo {
  padding-left: 4px;
}

/* right icons */
.mobileheader__item--right-icons .line-block {
  height: 50px;
  overflow: hidden;
  justify-content: end;
}
.mobileheader__item--right-icons .line-block > .line-block__item {
  align-items: center;
  display: flex;
  height: 50px;
  padding-right: 10px;
}
.mobileheader__item--right-icons .line-block__item > div {
  margin: -10px;
  padding: 10px;
}

@media (max-width: 600px) {
  .mobileheader__item--right-icons .line-block > .line-block__item.hide-600 {
    display: none;
  }
}

/* phones */
#mobileheader .phones__inner {
  position: static;
}
#mobilephones {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3000;
  background: #fff;
  background: var(--black_bg_black);
  display: none;
  opacity: 1;
  visibility: visible;
  padding: 0;
  cursor: default;
}
.mobileheader--color-white #mobilephones,
.mobileheader--color-grey #mobilephones {
  top: calc(100% + 1px);
}
.mobileheader .phones__dropdown .dropdown {
  left: 0 !important;
  box-shadow: none;
  display: block;
  padding: 17px 0 23px;
}
.mobilephones__menu-item.mobilephones__menu-item--title {
  padding: 18px 23px 18px;
}
.mobilephones__menu-item a {
  padding: 10px 23px;
  display: block;
}
.mobilephones__menu-item--callback {
  padding: 9px 23px;
  margin: 8px 0 0 0;
}
.mobilephones__close {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 24px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.phones__phone-descript {
  display: block;
  font-weight: normal;
}

.icon-block--only_icon .icon-block__only-icon {
  display: flex;
}

/* cabinet */
.mobileheader .header-cabinet__link.avt .header-cabinet__icon {
  margin-right: 0;
}

/* cart */
.mobileheader .header-cart .header-cart__name {
  display: none;
}
.mobileheader .basket-dropdown {
  display: none;
}
.header-cart__inner {
  position: relative;
  margin-right: 4px;
  display: block;
  line-height: 0;
}
.header-cart__inner--empty {
  margin-right: 0px;
}
.header-cart__count,
.icon-count {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(57%, -31%);
  color: #fff;
  font-size: 12px;
  border-radius: 17px;
  text-align: center;
  line-height: 17px;
  min-width: 17px;
  padding: 0 4px;
  background-color: #49b822;
  white-space: nowrap;
  z-index: 2;
}
.header-cart__inner--empty .header-cart__count,
.icon-count {
  display: none;
}
.icon-block-with-counter {
  position: relative;
  display: block;
}

.icon-block-with-counter--count .icon-count {
  display: block;
}

body.jqm-initied .style-switcher {
  z-index: 992;
}
